name: Deploy no PythonAnywhere

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Fazer o deploy no PythonAnywhere
        uses: pythonanywhere/github-action@v1
        with:
          # O nome da Secret deve ser exatamente este que você criou no GitHub
          api_token: ${{ secrets.PA_API_TOKEN }}
          python_version: '3.13' 
          # O caminho do seu ambiente virtual
          virtualenv_dir: '/home/romulofamiglietti/SENAI-School-Manager/venv'
          # O caminho da pasta do projeto
          repo_dir: '/home/romulofamiglietti/SENAI-School-Manager'
          # O domínio do seu site
          reload_webapp: 'romulofamiglietti.pythonanywhere.com'